<div class="container mt-5" style="max-width:600px;">
  <!-- 一覧へ戻るリンク -->
  <h5>
    <%= link_to "＜一覧へ", textbook_path(@audio.chapter.textbook), style: "color: black; text-decoration: none;" %>
  </h5>
  <br>
  <!-- 教材情報 -->
  <div class="text-center mb-4">
    <%= image_tag @audio.chapter.textbook.cover_image, 
                  alt: @audio.chapter.textbook.name,
                  class: "rounded mb-3 shadow-sm", 
                  style: "width:200px; height:200px; object-fit:cover;" %>
    <h5 class="mb-3 text-dark"><%= @audio.chapter.title %></h5>
  </div>

  <!-- オーディオプレイヤー -->
  <%= render "shared/audio_player" %>
</div>
