<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- ロゴ -->
      <%= link_to "Listener", root_path, class: "navbar-brand", style: "color: #0b3d91; font-weight: 800; font-size: 2.5rem;" %>

      <!-- ハンバーガーボタン -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- オフキャンバスメニュー（右側スライド） -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasMenuLabel">メニュー</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav">
              <li class="nav-item mb-2">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item mb-2">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>