.scroll-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.textbook-card-link:hover .textbook-image {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
}

.textbook-image {
  border: none;
  box-shadow: none;
}
